<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find arm_gazebo)/worlds/arm.world" />
    </include>
    <node name="arm_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find arm_description)/models/model.sdf -sdf -model arm">
    </node>
    
</launch>